%h2
  station .
  = @station.stationName.downcase
  = '.'
  %span.back_to= link_to('<<', stations_path)


%div[@station]
  %p
    %label id
    %span.value= @station.id
  %p
    %label security
    %span.value= @station.system.security.round(2)
  %p
    %label region
    %span.value= link_to(@station.region.regionName.downcase, region_path(@station.region))
  %p
    %label constellation
    %span.value= link_to(@station.constellation.constellationName.downcase, constellation_path(@station.constellation))
  %p
    %label system
    %span.value= link_to(@station.system.solarSystemName.downcase, system_path(@station.system))
