%tr[group]
  %td= link_to(group.id, group_path(group))

  %td= truncate(group.groupName, :length => 48)
  
  %td= number_with_delimiter(group.useBasePrice)

  %td= group.allowManufacture

  %td= truncate(group.description.to_s, :length => 65)

