%tr[group]
  %td= link_to(group.id, group_path(group))
  %td= truncate(group.groupName.downcase, :length => 48)
  %td= group.useBasePrice
  %td= group.allowManufacture
  %td= truncate(group.description.to_s, :length => 65)

