%h2
  group .
  = @group.groupName.downcase
  = '.'
  %span.back_to= link_to('<<', groups_path)


%div[@group]
  %p
    %label id
    %span.value= @group.id

  %p
    %label category
    %span.value= link_to(@group.inventory_category.categoryName.downcase, inventory_category_path(@group.inventory_category))

  %p
    %label use base price
    %span.value= @group.useBasePrice

  %p
    %label allow manufacture
    %span.value= @group.allowManufacture

  %p
    %label description
    %span.value= @group.description
    
  %br
  
  %h3 inventory types
  = render 'inventory_types/index'    

