%table.ancestries
  %tr
    %th= sort_link(:ancestryID, 'id')
    %th= sort_link(:ancestryName, 'name')
  
    %th= sort_link(:perception, 'perception')
  
    %th= sort_link(:willpower, 'willpower')
  
    %th= sort_link(:charisma, 'charisma')
  
    %th= sort_link(:memory, 'memory')
  
    %th= sort_link(:intelligence, 'intelligence')
  
    %th= sort_link(:description, 'description')
  
  = render @ancestries
