%table.constellations
  %tr
    %th= sort_link(:constellationID, 'id')
    %th= sort_link(:constellationName, 'name')
    %th= sort_link(:security_avg, 'security')
    %th= sort_link(:system_count, 'system count')
  = render @constellations    
  
