%h2
  constellation .
  = @constellation.constellationName.downcase
  = '.'
  %span.back_to= link_to('<<', constellations_path)


%div[@constellation]
  %p
    %label id
    %span.value= @constellation.id
  %p
    %label region
    %span.value= link_to(@constellation.region.regionName.downcase, region_path(@constellation.region))
  %p
    %label systems count
    %span.value= @constellation.systems_count
    
  %h3 systems
  = render 'systems/index'
  
