%table.systems
  %tr
    %th= sort_link(:systemID, 'id')
    %th= sort_link(:solarSystemName, 'name')
    %th= sort_link(:security, 'security')
    %th= sort_link(:border, 'border')
    %th= sort_link(:fringe, 'fringe')
    %th= sort_link(:corridor, 'corridor')
    %th= sort_link(:hub, 'hub')
    %th= sort_link(:international, 'inter')
    %th= sort_link(:regional, 'regional')
  = render @systems    
