%table.inventory_types
  %tr
    %th= sort_link(:typeID, 'id', 'inventory_types')
    %th= sort_link(:typeName, 'name', 'inventory_types')
    %th= sort_link(:categoryName, 'category', 'inventory_categories')
    %th= sort_link(:groupName, 'group', 'groups')
    %th= sort_link(:metaGroupName, 'meta group', 'meta_groups')
    %th= sort_link(:parent, 'parent', 'inventory_types')
    %th= sort_link(:raceName, 'race', 'races')
    %th= sort_link(:volume, 'volume', 'inventory_types')
    %th= sort_link(:capacity, 'capacity', 'inventory_types')
    %th= sort_link(:basePrice, 'base price', 'inventory_types')
  
  = render @inventory_types
