%h2
  inventory type .
  = @inventory_type.typeName.downcase
  = '.'
  %span.back_to= link_to('<<', inventory_types_path)


%div[@inventory_type]
  %p
    %label id
    %span.value= @inventory_type.id

  %p
    %label category
    %span.value= link_to(@inventory_type.inventory_category.categoryName.downcase, inventory_category_path(@inventory_type.inventory_category))
  %p
    %label group
    %span.value= link_to(@inventory_type.group.groupName.downcase, group_path(@inventory_type.group))

  %p
    %label radius
    %span.value= @inventory_type.radius

  %p
    %label mass
    %span.value= @inventory_type.mass

  %p
    %label volume
    %span.value= @inventory_type.volume

  %p
    %label capacity
    %span.value= @inventory_type.capacity

  %p
    %label portion size
    %span.value= @inventory_type.portionSize

  %p
    %label base price
    %span.value= @inventory_type.basePrice

  %p
    %label published
    %span.value= @inventory_type.published

  %p
    %label chance of_duplicating
    %span.value= @inventory_type.chanceOfDuplicating

  %p
    %label parent
    %span.value= @inventory_type.parent ? link_to(@inventory_type.parent.typeName.downcase, inventory_type_path(@inventory_type.parent)) : ''
    
  - unless @inventory_types.empty?
    %h3 child types
    = render 'inventory_types/index'

